.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: solid black 2px;
}

.line {
  width: 120px;
  height: 5px;
  background: black;
  margin-top: 20px;

  border-radius: 5px;
}
