.inputs-container h1 {
  padding-bottom: 50px;
}

.inputs-container {
  /* margin-left: 260px;
    margin-top: 50px; */
  margin-left: 0;

  margin-right: 250px;
}

/* input {
    width: 80%;
    height: 50px;
    border: 2px solid black;
    background: red;
    font-size: 1rem;
  } */

.inputs-container input {
  /* margin-top: 20px;
    text-indent: 10px;
    background-color: white; */
}

/* .email {
    text-indent: 10px;
    background-color: green;
  } */

#login-submit {
  margin-top: 20px;
  border-radius: 7px;
  background: black;
  color: white;
  height: 54px;
  width: 355px;
}

.line {
  width: 120px;
  height: 5px;
  background: black;
  margin-top: 20px;
  margin-left: 215px;
  border-radius: 5px;
}
