/* .page {
  position: relative;
}
*/
.hero {
  background: url("../../assets/images/Group.png");
  width: 224px;
  height: 54px;
  /* margin-top: 300px;
  margin-left: 10px; */
}
/*
.button-container {
  position: absolute;
  bottom: 27px;
  display: flex;
  flex-direction: row;
  gap: 7px;
}


.btn {
  width: 170px;
  height: 52px;
  border-radius: 7px;
  border: 2px solid;
  font-size: 13px;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s; /* Add transition for background-color and color */
/* } */

/* .btn.login {
  color: black;
  background: white;
}

.btn.login:hover {
  background: black;
  color: white;
}

.btn.register {
  background: black;
  color: white;
}

.btn.register:hover {
  color: black;
  background: white;
}
.line {
  position: absolute;
  bottom: 7px;
  right: 140px;
} */
/*
.bottom-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
}
*/
